* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  color: #424242;
  font-size: 16px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3125rem;
}

.headline {
  font-family: "Reenie Beanie", sans-serif;
}

.content-block {
  text-align: center;
  padding-bottom: 3rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 50ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
